<p id="notice"><%= notice %></p>
<p>
  <strong>Cluster: </strong>
   <%= @userdetail.cluster.cluster %>
</p>
<p>
  <strong>First name:</strong>
  <%= @userdetail.first_name %>
</p>

<p>
  <strong>Middle name:</strong>
  <%= @userdetail.middle_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @userdetail.last_name %>
</p>

<p>
  <strong>Salutation:</strong>
  <%= @userdetail.salutation %>
</p>

<p>
  <strong>Organization:</strong>
  <%= @userdetail.organization %>
</p>

<p>
  <strong>Department:</strong>
  <%= @userdetail.department %>
</p>

<p>
  <strong>Work address:</strong>
  <%= @userdetail.work_address %>
</p>

<p>
  <strong>Work mobile:</strong>
  <%= @userdetail.work_mobile %>
</p>

<p>
  <strong>Work fax:</strong>
  <%= @userdetail.work_fax %>
</p>

<p>
  <strong>Work email:</strong>
  <%= @userdetail.work_email %>
</p>

<p>
  <strong>Work internet:</strong>
  <%= @userdetail.work_internet %>
</p>

<p>
  <strong>Assistant name:</strong>
  <%= @userdetail.assistant_name %>
</p>

<p>
  <strong>Assistant tel no:</strong>
  <%= @userdetail.assistant_tel_no %>
</p>

<p>
  <strong>Note:</strong>
  <%= @userdetail.note %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @userdetail.date_of_birth %>
</p>

<p>
  <strong>Nationality:</strong>
  <%= @userdetail.nationality %>
</p>

<p>
  <strong>Event invited:</strong>
  <%= @userdetail.event_invited %>
</p>

<p>
  <strong>Event attended:</strong>
  <%= @userdetail.event_attended %>
</p>



<%= link_to 'Edit', edit_userdetail_path(@userdetail) %> |
<%= link_to 'Back', userdetails_path %>
