<%= simple_form_for(@mcluster) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :cluster_name %>
    <%= f.input :feature %>
    <%= f.input :members %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
