<%= tinymce %>
<%= form_for @usermail, :url => url_for(:controller => 'usermailer', :action => 'create' ) do |f| %>
  <% if @usermail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@usermail.errors.count, "error") %> prohibited this usermail from being saved:</h2>

      <ul>
      <% @usermail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :send_from, "from" %><br>
    <%= f.text_field :send_from, :value => "Foreign Commonwealth Office" %>
  </div>
  <div class="field">
    <%= f.label :send_to, "to" %><br>
    <%= f.text_field :send_to %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content,  :class => "tinymce",  :rows => 20, :cols => 120, value: "
    <h1>Invitation Letter</h1>

    <p style= 'font-size:15px'>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.<p>


    <p style= 'font-size:15px'> You may send us your respones by click the form </p>"%>

  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
