<h1>Editing Report</h1>

<%= simple_form_for @report, :html => { :multipart => true } do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.select :mailername_id, @mailername %>
    <%= f.input :invite_sent %>
    <%= f.input :total_recepient %>
    <%= f.input :attending %>
    <%= f.input :unable_to_attend %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

<%= link_to 'Show', @report %> |
<%= link_to 'Back', reports_path %>
