<p id="notice"><%= notice %></p>
<div class = "container">
  
  <% if current_user.admin == true %>
    <% @mcluster.each do |m| %>
      <a class="btn btn-primary btn-sm size" role="button" ><%= m.cluster_name %></a>
     
    <% end %>
  <% end %>

</div>
<br>
<br>
<br>

<div class="panel panel-primary">
  <div class="panel-body">
    <table class = "table table-bordered table-striped">
      <thead>
        <tr>
          <th>Event</th>
          <th>Invite sent</th>
          <th>Total recepient</th>
          <th>Attending</th>
          <th>Unable to attend</th>
          <th colspan="2">Action</th>
        </tr>
      </thead>

      <tbody>
        <% @reports.each do |report| %>
          <tr>
            <td><%= report.mailername.mailer_name %></td>
            <td><%= report.invite_sent %></td>
            <td><%= report.total_recepient %></td>
            <td><%= report.attending %></td>
            <td><%= report.unable_to_attend %></td>
            <td><%= link_to 'Show', report %></td>
            <td><%= link_to 'Edit', edit_report_path(report) %></td>
            <td><%= link_to 'Delete', report, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<br>

